<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases> <!-- VO 저장 -->
	  <typeAlias type="com.sist.vo.CartVO" alias="CartVO"/>
	  <typeAlias type="com.sist.vo.GoodsVO" alias="GoodsVO"/>
	</typeAliases>
	<environments default="development"> <!-- conn 연결(get/dis) -->
	  <environment id="development">
	  	<transactionManager type="JDBC"/>
	  	<dataSource type="POOLED"><!-- UNPOOLED(일반 JDBC) / POOLED(DBCP) -->
	  		<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
	  		<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
	  		<property name="username" value="hr"/>
	  		<property name="password" value="happy"/>
	  	</dataSource>
	  </environment>
	</environments>
	<mappers> <!-- SQL 저장(PreparedStatement) -->
	  <mapper resource="com/sist/dao/goods_mapper.xml"/>
	</mappers>
</configuration>